<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Music Theory Toolbox</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="css/main.css" rel="stylesheet">
</head>
<body>
  <div class="container" id="app">
    <h1><i class="glyphicon glyphicon-music"></i> Music set theory toolbox</h1>
    <form class="form-horizontal">
    <fieldset>
      <div class="row">
        <div class="col-md-6">
      <legend>Pitch class set circle</legend>

      <!-- <btn-group> without the 'btn-group' class - we want buttons separate -->
      <!-- TODO:  -->
      <div role="group" data-toggle="buttons" id="pcCheckboxes">
        <span id="chordName">{{name.chord}}</span>
        <btn v-for="b in pcCheckboxes"
          input-type="checkbox" :input-value="b.index" size="lg"
          v-model="pitchClasses" :data-index="b.index"
          :class="{'btn-success': _.contains(pitchClasses, b.index)}">
          {{b.label}}
        </btn>
      </div>

      <legend>Operations</legend>
      <div class="form-group">
        <label class="control-label col-sm-3">Transpose:</label>
        <div class="col-sm-9">
          <button type="button" class="btn btn-default" @click="transpose(-1)"><i class="glyphicon glyphicon-arrow-down"></i> Down</button>
          <button type="button" class="btn btn-default" @click="transpose(1)"><i class="glyphicon glyphicon-arrow-up"></i> Up</button>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Scale degrees:</label>
        <div class="col-sm-9">
          <button type="button" class="btn btn-default" @click="transposeInScale(-1)"><i class="glyphicon glyphicon-arrow-left"></i> Previous</button>
          <button type="button" class="btn btn-default" @click="transposeInScale(1)"><i class="glyphicon glyphicon-arrow-right"></i> Next</button>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="button" class="btn btn-default" @click="invert"><i class="glyphicon glyphicon-transfer"></i> Invert</button>
          <button type="button" class="btn btn-default" @click="complement"><i class="glyphicon glyphicon-adjust"></i> Complement</button>
          <button type="button" class="btn btn-default" @click="clear"><i class="glyphicon glyphicon-trash"></i> Clear</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <legend>Numeric representations</legend>
      <h4>Pitch class set</h4>
      <div class="form-group">
        <label class="control-label col-sm-3">Pitch class set</label>
        <div class="col-sm-6">
          <input v-model:value="pitchClassesStr" type="text" class="form-control" pattern="[0-9]+(,[0-9]+){0,12}"></input>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Bit set</label>
        <div class="col-sm-6">
          <input v-model:value="bitSet" type="text" class="form-control" pattern="[01]{12}"></input>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Bit-set index</label>
        <div class="col-sm-6">
          <input v-model:value="bitSetIndex" type="text" class="form-control" pattern="[0-9]{0,4}"></input>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Offset to canonic</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" :value="offsetToCanonic" disabled></input>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Scale</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" :value="name.scale" disabled></input>
        </div>
      </div>

      <h4>Canonic pitch class set</h4>
      <div class="form-group">
        <label class="control-label col-sm-3">Pitch class set</label>
          <div class="col-sm-6">
            <select v-model:value="canonicBitSetIndex" class="form-control">
              <option v-for="c in canonicBitSets" v-bind:value="c.index">{{c.pitchClasses}}</option>
            </select>
          </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Bit set</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" :value="canonicBitSet" disabled></input>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Bit-set index</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" :value="canonicBitSetIndex" disabled></input>
        </div>
      </div>
      <legend>Learn more</legend>
      <p>
        <a href="https://en.wikipedia.org/wiki/Set_theory_(music)">Music set theory</a> on Wikipedia.
      </p>
      <p>
        <a href="http://www.visualmusictheory.com/tone-circle.html">Tone circle - the clock analogy</a> blog post.
      </p>
      <p>
        <a href="https://play.google.com/store/apps/details?id=com.harmoneye.tonecircle&hl=cs">Tone Circle</a> app on Android.
      </p>
      <p>
        Written with <i class="glyphicon glyphicon-heart-empty"></i> by <a href="http://bohumirzamecnik.cz">Bohumír Zámečník</a>.
      </p>
    </div>
    </fieldset>
    </form>
  </div>

  <a href="https://github.com/bzamecnik/music-theory-toolbox"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <!-- UIV: Bootstrap 3 + Vue 2 - it includes Bootstrap JS -->
  <script src="//unpkg.com/uiv"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="js/main-vue.js"></script>

</body>
</html>
